# Data
data/
datasets/
raw_data/
processed_data/
cropped_images/
*.zip
*.tar
*.gz

# Models
models/*.h5
models/*.keras
models/*.pkl
models/*.joblib
*.npy
*.npz

# Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Secrets / local config
.env
config.local.yaml

# System files
.DS_Store
Thumbs.db

# Outputs
outputs/
logs/
runs/
